./neoart
input.out
*.swp
src/*.o
src/*.mod
tests/*.o
tests/test
tests/test_output
neoart.x
input.dat
 

#*.pyc
#python/build
#python/neoart/_neoart.so
#python/src/_neoart-f2pywrappers.f
#python/src/_neoartmodule.c
